body {
  background: #121215;
}

/************************************************************************
Main body
*************************************************************************/

.header {
  font-size: 8rem;
  text-align: center;
}


/************************************************************************
footer
*************************************************************************/
.footer {
  font-size: 1rem;
}