/* Home page layout */
.planets-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  gap: .5rem;
}

/* Tablest and Ipads */
@media (min-width: 768px) and (max-width: 997px) {
  
  .planets-all {
    flex-wrap: wrap;
  }
  
}

/* Mobiles */
@media (min-width: 320px) and (max-width: 480px) {
  
.planets-all {
  flex-direction: column;
}
  
}